version: '3.8'

services:
  db:
    image: postgres:15
    ports:
     - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: full_body_db
    volumes:
      - db_data:/var/lib/postgresql/data
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - .env
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bin/rails db:apply && rails s -b 0.0.0.0 -p 3001"


    ports:
      - "3001:3001"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - bundle_data:/usr/local/bundle
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  sidekiq:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: sidekiq -C config/sidekiq.yml
    depends_on:
      - redis
      - db
    volumes:
      - ./backend:/app
      - bundle_data:/usr/local/bundle
    ports:
      - "3002:3002"
    env_file:
      - .env
volumes:
  db_data:
  redis_data:
  bundle_data:
  node_modules: